.grid-list {
  display: grid;
  grid-column-gap: 10rem;
  grid-row-gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10rem;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    margin-top: 4rem;
  }
}
