#home {
  background-color: #8b09b2;
  background-image: radial-gradient(
    circle farthest-side at 75% 75%,
    #e43070,
    #8b09b2
  );
  grid-template-columns: repeat(2, 1fr);

  .pitch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 10rem 0;
  }

  .details {
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    margin-bottom: 4rem;
    opacity: 0;
    text-align: center;

    p {
      border-color: white;
      border-style: solid;
      border-top-width: 0.1rem;
      font-size: 1.2em;
      margin-top: 2rem;
      padding: 2rem 0;
    }
  }

  .chrono {
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    display: grid;
    grid-template-areas:
      '.      item1'
      'item2  item1'
      'item2  item3'
      'item4  item3'
      'item4  .'
      'item5  .'
      ;
    grid-template-columns: repeat(2, 1fr);
    opacity: 0;
    position: relative;

    &:before {
      background-color: white;
      bottom: 0;
      content: '';
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 0.1rem;
    }

    > * {
      align-items: center;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      display: grid;
      opacity: 0;
      padding-bottom: 2rem;

      &:after,
      &:before {
        background-color: white;
        content: '';
        display: none;
        height: 0.1rem;
        width: 2rem;
      }

      > :nth-child(1) {
        justify-self: center;
      }
    }

    > :nth-child(1),
    > :nth-child(3) {
      animation-name: fadeIn, slideInFromRight;
      grid-template-columns: min-content 1fr 1.5fr;

      &:before {
        display: block;
        margin-right: 1rem;
      }
    }

    > :nth-child(2),
    > :nth-child(4),
    > :nth-child(5) {
      animation-name: fadeIn, slideInFromLeft;
      grid-template-columns: 1fr 1.5fr min-content;

      &:after {
        display: block;
        margin-left: 1rem;
      }
    }

    @for $i from 1 through 5 {
      $delay: ($i * 0.1) + 1.5;

      > :nth-child(#{$i}) {
        animation-delay: #{$delay}s;
        grid-area: item#{$i};
      }
    }
  }

  .block-image {
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    opacity: 0;
  }
}
