#section6 {
  align-items: center;
  background-color: black;
  background-image: radial-gradient(
    50% 75% at 25% 25%,
    #1d1d1d,
    rgba(#1d1d1d, 0)
  ),
  linear-gradient(
    135deg,
    #272727 70%,
    #1d1d1d 70%
  );
  display: flex;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 10rem;
  padding-top: 10rem;

  .grid-list {
    max-width: 100rem;
  }

  li {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 0.5rem;
    grid-template-areas:
      'image heading'
      'image body';
    grid-template-columns: 10rem auto;
    grid-template-rows: max-content 1fr;

    > * {
      opacity: 0;
      transform: translateX(-100%);
      transition-duration: 0.5s;
      transition-property: opacity, transform;

      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          transition-delay: unquote('0.#{$i}s');
        }
      }
    }

    &:nth-of-type(even) > * {
      transform: translateX(100%);
    }

    img {
      grid-area: image;
    }

    h3 {
      grid-area: heading;
      font-size: 1.2em;
    }

    p {
      grid-area: body;
    }
  }

  &[data-visible=true] {
    li > * {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
