#section3 {
  align-items: center;
  background-color: black;
  background-image: radial-gradient(
    circle closest-corner at 70% 50%,
    #a82798,
    rgba(#a82798, 0)
  ),
  linear-gradient(
    135deg,
    #4311bd 70%,
    #7d168e 70%,
    #8518a4
  );
  grid-template-columns: 1.1fr 1fr;

  article {
    margin-left: 10rem;
    order: 1;
    text-align: right;

    > * {
      opacity: 0;
      transform: translateX(-100%);
      transition-duration: 0.5s;
      transition-property: opacity, transform;

      &:nth-child(1) {
        transition-delay: 0.2s;
      }

      &:nth-child(2) {
        transition-delay: 0.1s;
      }
    }
  }

  .block-image {
    padding: 0 10rem;
    opacity: 0;
    order: 2;
    transition-duration: 0.5s;
    transition-property: opacity;
  }

  &[data-visible=true] {
    article > * {
      opacity: 1;
      transform: translateX(0);
    }

    .block-image {
      opacity: 1;
    }
  }
}
