#section3 {
  align-items: center;
  background-color: black;
  background-image: radial-gradient(
    50% 75% at 25% 25%,
    #1d1d1d,
    rgba(#1d1d1d, 0)
  );
  grid-template-columns: 1.1fr 1fr;

  article {
    margin-left: 10rem;
    order: 1;
  }

  .block-image {
    padding: 0 10rem;
    order: 2;
  }
}
