#section3 {
  align-items: center;
  background-color: black;
  background-image: radial-gradient(
    50% 75% at 25% 25%,
    $light-grey,
    rgba($light-grey, 0)
  ),
  linear-gradient(
    135deg,
    $lightest-grey 70%,
    $light-grey 70%
  );
  color: #676767;
  grid-template-columns: 1.1fr 1fr;
  min-height: auto;

  article {
    margin-left: 10rem;
    order: 1;
    text-align: right;

    > * {
      opacity: 0;
      transform: translateX(-100%);
      transition-duration: 0.5s;
      transition-property: opacity, transform;

      &:nth-child(1) {
        transition-delay: 0.2s;
      }

      &:nth-child(2) {
        transition-delay: 0.1s;
      }
    }
  }

  .block-image {
    padding: 0 10rem;
    opacity: 0;
    order: 2;
    transition-duration: 0.5s;
    transition-property: opacity;
  }

  &[data-visible=true] {
    article > * {
      opacity: 1;
      transform: translateX(0);
    }

    .block-image {
      opacity: 1;
    }
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    min-height: 100vh;
    padding: 4rem;

    article {
      margin-left: 0;
    }

    .block-image {
      display: none;
    }
  }
}
